
/*
02-01 Box Model
Box Model - 
        Height & Width

        Inline Element - || Default is == COntent

        Border - Any eloement can have border around it Property - Style, Width & Color 
        ** Must be Specified
        Style - none
                dotted
                dashed
                solid
                double
                groove
                ridge
                inset
                outset
                hidden

        Width - Set in 
                        Pixels
                        Thin
                        Medium
                        Large

        Color - Name
                RGB
                hex
                transparent

        Specifying Individual Sides -   
                border-width: 3px; TOP 3PX             
                border-width: 3px 10px; TOP 3PX (LEFT-RIGHT) 10PX
                border-width: 3px 10px 20PX; TOP 3PX (LEFT-RIGHT) 10PX BOTTOM 20PX
                border-width: 3px 10px 20PX 1PX; TOP 3PX RIGHT 10PX BOTTOM 20PX LEFT 1PX;

        Margin is additional space outsude border 
                Positive(+) margin - element move right/down
                Negative(-) margin - elemnt move left/up
        
        Padding - Padding is additional space between the element and its border
                Positive Padding - Border moved outward
        
        Box-Sizing -
                content-box = Default 
                border-box

Measurement -
        Absolute - set to specific size
            px
            mm
            cm
            pt,...
        
        Fluid - sets size relative to surrounding 
            %, vw, vh
            em (for font)
            rem (for font)*/   
             
            h1{
                background-color: #D3D3D3;
                color:#FFFFFF;
                text-align: center;
                text-transform: uppercase;
            }
            a{
                color: #000000;
                background-color: #C0C0C0;
            }
            img{
                display: none;
            }
            h2{
                color: #0000FF;
                text-transform: uppercase;
            }
            section{
                background-color: #808080;
            }
            header{
                background-color: #D3D3D3;
            }