header{
    background-color: #B2B2B2;
}

h1{
    text-align: center;
    color: #FFFFFF;
}

h2{
    color: rgb(62, 28, 218);
}
section{
    background-color: #7F7F7F;
}

a{
    color: #000042;
    background-color: #C5C5C5;
    display: inline-block;
}

/*
Box Model - 

    Inline Element -Height & Width || Default is == COntent
    Border - Any eloement can have border around it
        Property - Style, Width & Color 
        ** Must be Specified
        Style - none
                dotted
                dashed
                solid
                double
                groove
                ridge
                inset
                outset
                hidden

        Width - Set in 
                        Pixels
                        Thin
                        Medium
                        Large

        Color - Name
                RGB
                hex
                transparent

        Specifying Individual Sides -   
                border-width: 3px; TOP 3PX             
                border-width: 3px 10px; TOP 3PX (LEFT-RIGHT) 10PX
                border-width: 3px 10px 20PX; TOP 3PX (LEFT-RIGHT) 10PX BOTTOM 20PX
                border-width: 3px 10px 20PX 1PX; TOP 3PX RIGHT 10PX BOTTOM 20PX LEFT 1PX;

        Margin is additional space outsude border 
                Positive(+) margin - element move right/down
                Negative(-) margin - elemnt move left/up
        
        Padding - Padding is additional space between the element and its border
                Positive Padding - Border moved outward
        
        Box-Sizing 