/*
02-01 Box Model
Box Model - 
        Height & Width

        Inline Element - || Default is == COntent

        Border - Any eloement can have border around it Property - Style, Width & Color 
        ** Must be Specified
        Style - none
                dotted
                dashed
                solid
                double
                groove
                ridge
                inset
                outset
                hidden

        Width - Set in 
                        Pixels
                        Thin
                        Medium
                        Large

        Color - Name
                RGB
                hex
                transparent

        Specifying Individual Sides -   
                border-width: 3px; TOP 3PX             
                border-width: 3px 10px; TOP 3PX (LEFT-RIGHT) 10PX
                border-width: 3px 10px 20PX; TOP 3PX (LEFT-RIGHT) 10PX BOTTOM 20PX
                border-width: 3px 10px 20PX 1PX; TOP 3PX RIGHT 10PX BOTTOM 20PX LEFT 1PX;

        Margin is additional space outsude border 
                Positive(+) margin - element move right/down
                Negative(-) margin - elemnt move left/up
        
        Padding - Padding is additional space between the element and its border
                Positive Padding - Border moved outward
        
        Box-Sizing -
                content-box = Default 
                border-box

Measurement -
        Absolute - set to specific size
            px
            mm
            cm
            pt,...
        
        Fluid - sets size relative to surrounding 
            %, vw, vh
            em (for font)
            rem (for font)
*/

h2{
    text-align: center;
}

div{
    background-color: #0000cc;
    color:#ffffff;
    box-sizing: border-box;

    width: 50%;
    display: inline-block;
    height: 200px;
    margin: 5px;
    border: 20px solid #000000;
    padding: 15px;
    margin: 0 auto;
    margin-top: 50px;
}