body{
	background-color: rgb(255, 255, 255);
	font-size: 125%;
	margin: 1%;
	padding: .5%;
}
header{
	color: rgb(255, 255, 255);
	background: #ffffff;
	text-align: center;
	text-transform: uppercase;
	padding: 25px;
	background: url("http://intro-webdesign.com/CSS/assignment-2/images/flywheel.jpg") no-repeat;
	background-size: cover;

}
nav a{
    display: inline-block;
	font-weight: bold;
	font-family: Arial, "Times New Roman", serif, sans-serif;
    color: #8D8295;
    background: #ffffff75;
    width: 200px;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    margin: 17px;
	margin-top: 5px;
	
}
nav a:hover{
    background: #e0dedec9;
    color: #0006CC;
}
nav a:focus{
    background: #faf2f2b6;
    color: #64b392;
}
nav a:active{
    background: #ffffff;
    color: #000000;
}
.left img{
    width: 90%;
	border: 3px solid gray;
}

.left{
	width: 30%;
    float: left;
	background-color: #767612;
	height: 1000px;
	text-align: center;
	padding-top:100px;
}
.right{
	width: 60%;
	display: inline-block;
	float: right;
	margin-right: 2%;
}
/* Final Assignment*/

table.finalAssignment{
	color: #000;
	border-spacing: 0;
	border: 3px solid rgba(255, 255, 255, 0.61);
	opacity: .8;
	width: 900px;
	height: 500px;
	margin: auto;
	line-height: 35px;
}
table:hover{
	opacity: 1;
}
.finalAssignment{
    background-color: #E4F5D4;
	font-size: 120%;
	font-family: 'Times New Roman', Times, serif;
	border-radius: 25px 25px 0 0;
	
}
.finalAssignment th, .finalAssignment td{
	margin: 5px;
	padding-bottom: 5px;
}
th{
	color: white;
	text-align: center;
	background: #91A353;
	border-bottom: 10px solid #B1E053;
}

tr:last-child>th:first-child{
    border-radius: 7px 0 0 0;
}
tr:last-child>th:last-child{
    border-radius: 0 10px 0 0;
}

tr{
	padding-bottom: 10px;
	padding-left: 10px;
	border: 5px solid red;
	opacity: .8;
}
td{
	text-align: center;
	color: rgb(119, 114, 114);
	background:#dbebbd ;
	border-bottom: 5px solid #ffffff88;
	padding: 2px;
	border-radius: 2px;
}
tbody tr>td:first-child{
	text-align: left;
}

.tableHead{
	color: #000;
	border-spacing: 0;
	border: 3px solid rgb(48, 46, 46);
	border-radius: 5px 5px 0 0;
}
